<!DOCTYPE html>
<html class=" js csstransforms3d"><head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>相册管理</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/page.css">

    <link href="css/ie8.css" rel="stylesheet" type="text/css"/>

</head>

<body style="background: #f6f5fa;">

<!--content S-->
<div class="super-content RightMain" id="RightMain">

    <!--header-->
    <div class="superCtab">

        <div class="ctab-title clearfix">
            <h3>部分云认证证书查看</h3>
        </div>

        <div class="ctab-Main">
            <div class="ctab-Mian-cont">
                <div class="xc-all-box clearfix">
                    <div class="xc-list">
                        <div class="img"><a><img src="images/TCA-1.png"></a></div>
                        <div class="info clearfix">
                            <h3><a>腾讯云TCA架构师证书</a></h3>
                        </div>
                    </div>
                    <div class="xc-list">
                        <div class="img"><a><img src="images/TSF-1.png"></a></div>
                        <div class="info clearfix">
                            <h3><a>腾讯云TSF开发证书</a></h3>
                        </div>

                    </div>
                    <div class="xc-list">
                        <div class="img"><a><img src="images/TCP-1.png"></a></div>
                        <div class="info clearfix">
                            <h3><a>腾讯云TCP架构师证书</a></h3>
                        </div>
                    </div>
                    <div class="xc-list">
                        <div class="img"><a></a><img src="images/TDSQL-1.png"></div>
                        <div class="info clearfix">
                            <h3><a >腾讯云TDSQL架构师证书</a></h3>
                        </div>
                    </div>
                    <div class="xc-list">
                        <div class="img"><a ><img src="images/TBDS-1.png"></a></div>
                        <div class="info clearfix">
                            <h3><a >腾讯云TBDS架构师证书</a></h3>
                        </div>
                    </div>
                    <div class="xc-list">
                        <div class="img"><a><img src="images/PMP.png"></a></div>
                        <div class="info clearfix">
                            <h3><a >项目管理PMP证书</a></h3>
                        </div>

                    </div>
                    <div class="xc-list">
                        <div class="img"><a><img src="images/TCA-2.png"></a></div>
                        <div class="info clearfix">
                            <h3><a>腾讯云TCA运维架构师</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--main-->
</div>
<!--content E-->
</body></html>