<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tonny.kaoshi.mapper.KaosMapper">

    <select id="selectByName" parameterType="String" resultType="com.tonny.kaoshi.entity.KaosDan">
        select * from t_chj where kname=#{kname} ;
    </select>

    <insert id="insertKaos" parameterType="com.tonny.kaoshi.entity.KaosDan" >
        insert into t_chj(id,kname,kid,kzhda,ksda,fs,ksdate)
        values(#{id},#{kname},#{kid},#{zqda},#{das},#{def},#{ksdate})
    </insert>
</mapper>